In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\externals\joblib\externals\cloudpickle\cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:35: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:597: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:836: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:1095: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:1340: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\least_angle.py:1476: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\randomized_l1.py:152: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  precompute=False, eps=np.finfo(np.float).eps,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\randomized_l1.py:320: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, random_state=None,
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\linear_model\randomized_l1.py:580: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=4 * np.finfo(np.float).eps, n_jobs=None,

In [2]:
data_month = pd.read_csv('road-accidents-in-india/only_road_accidents_data_month2.csv')
data_month.head()

# accidents per month
count = 0
month_acc =[]
for month in data_month.columns[2:-1]:
    for i in data_month.index:
        count = count + data_month.loc[i,month]
    acc = (month,count)
    month_acc.append(acc)
    count = 0
month_acc 
data_month.head()

,STATE/UT,YEAR,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,TOTAL
0,A & N Islands,2001,8,23,15,15,14,19,14,19,7,12,13,22,181
1,A & N Islands,2002,12,10,14,16,10,7,16,11,23,21,11,17,168
2,A & N Islands,2003,19,13,15,13,13,12,8,16,17,25,14,15,180
3,A & N Islands,2004,21,14,22,17,13,18,16,19,16,20,15,24,215
4,A & N Islands,2005,19,21,22,17,13,19,21,14,15,19,10,16,206

In [3]:
i=0

new_data_month = pd.DataFrame(columns = ['STATE/UT','YEAR','MONTH','ACCIDENTS'],index = np.arange(10000))
for states in data_month['STATE/UT'].unique():
    for year in data_month['YEAR'].unique():
        for month in data_month.columns[2:-1]:
            new_data_month.loc[i,'STATE/UT']= states
            new_data_month.loc[i,'YEAR']= year
            new_data_month.loc[i,'MONTH']= month
            i=i+1
new_data_month.head()

        STATE/UT  YEAR     MONTH ACCIDENTS
0  A & N Islands  2001   JANUARY       NaN
1  A & N Islands  2001  FEBRUARY       NaN
2  A & N Islands  2001     MARCH       NaN
3  A & N Islands  2001     APRIL       NaN
4  A & N Islands  2001       MAY       NaN

In [4]:
j=0
for i in data_month.index:
    for month in data_month.columns[2:-1]:
        new_data_month.loc[j,'ACCIDENTS'] = data_month.loc[i,month]
        j=j+1
new_data_month=new_data_month.dropna(how = 'any',axis=0)
new_data_month.to_csv('prepared data month.csv')
new_data_month.head()

        STATE/UT  YEAR     MONTH ACCIDENTS
0  A & N Islands  2001   JANUARY         8
1  A & N Islands  2001  FEBRUARY        23
2  A & N Islands  2001     MARCH        15
3  A & N Islands  2001     APRIL        15
4  A & N Islands  2001       MAY        14

In [5]:
le_month_1 = LabelEncoder()
le_month_2 = LabelEncoder()
new_data_month['STATE/UT']=le_month_1.fit_transform(new_data_month['STATE/UT'])
new_data_month['MONTH']=le_month_2.fit_transform(new_data_month['MONTH'])


ohe = OneHotEncoder(categorical_features=[0,2])
data_month_matrix_x= new_data_month[['STATE/UT','YEAR','MONTH']].values
data_month_matrix_y = new_data_month.ACCIDENTS
data_month_matrix_x

ohe.fit(data_month_matrix_x)
data_matrix_month = ohe.transform(data_month_matrix_x).toarray()
model = LinearRegression(fit_intercept=False)
X_train ,X_test ,y_train, y_test = train_test_split(data_matrix_month,data_month_matrix_y ,test_size = 0.2)
model.fit(X_train,y_train)
model.score(X_test,y_test)

e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:346: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:385: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:422: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:505: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)

0.9664489948127062

In [6]:
#to take input from user
state = input('Give name of state')
year = int(input('Give year'))
month = input('Give month')

state = le_month_1.transform([state])
month = le_month_2.transform([month])

cal = ohe.transform([[state,year,month]])
model.predict(cal)

Give name of stateGujarat
Give year2016
Give monthJULY

e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\utils\validation.py:522: DeprecationWarning: setting an array element with a sequence. This was supported in some cases where the elements are arrays with a single element. For example `np.array([1, np.array([2])], dtype=int)`. In the future this will raise the same ValueError as `np.array([1, [2]], dtype=int)`.
  array = np.asarray(array, dtype=dtype, order=order)
<string>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
e:\kaggle-road-accidents-analysis-and-prediction-master\.virtenv\lib\site-packages\sklearn\preprocessing\_encoders.py:505: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X = check_array(X, dtype=np.int)

array([371.17478943])